h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }